{% unless template contains 'index' %}
  {% if settings.display-mailing-list %}
    {% include 'mailing-list' %}
  {% endif %}
{% endunless %}

{% assign borderClass = '' %}
{% if settings.background-color == settings.footer-background-color %}
  {% unless settings.body-background-use-image or settings.footer-background-use-image %}
    {% assign borderClass = 'default' %}
  {% endunless %}
{% endif %}

<div class="footer-wrapper {{ borderClass }}">

  {% assign linkListClass = 0 %}

  {% if linklists[settings.footer-link-list-1].links.size > 0 %}
    {% assign linkListClass = linkListClass | plus: 1 %}
  {% endif %}
  {% if linklists[settings.footer-link-list-2].links.size > 0 %}
    {% assign linkListClass = linkListClass | plus: 1 %}
  {% endif %}
  {% if linklists[settings.footer-link-list-3].links.size > 0 %}
    {% assign linkListClass = linkListClass | plus: 1 %}
  {% endif %}

  <footer class="main-footer showing-{{linkListClass}}-lists">

    {% if linklists[settings.footer-link-list-1].links.size > 0 %}
    <div class="footer-link-list {{linklists[settings.footer-link-list-1].handle}}">
      {% if settings.footer-show-headers %}
        <h4>{{ linklists[settings.footer-link-list-1].title }}</h4>
      {% endif %}

      <ul>
        {% for link in linklists[settings.footer-link-list-1].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if linklists[settings.footer-link-list-2].links.size > 0 %}
    <div class="footer-link-list {{linklists[settings.footer-link-list-2].handle}}">
      {% if settings.footer-show-headers %}
        <h4>{{ linklists[settings.footer-link-list-2].title }}</h4>
      {% endif %}

      <ul>
        {% for link in linklists[settings.footer-link-list-2].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if linklists[settings.footer-link-list-3].links.size > 0 %}
    <div class="footer-link-list {{linklists[settings.footer-link-list-3].handle}}">
      {% if settings.footer-show-headers %}
        <h4>{{ linklists[settings.footer-link-list-3].title }}</h4>
      {% endif %}

      <ul>
        {% for link in linklists[settings.footer-link-list-3].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if settings.footer-show-sharing %}
    <div class="spread-the-word">
      {% if settings.footer-show-headers and settings.footer-sharing-header.size > 0 %}
        <h4>{{ settings.footer-sharing-header }}</h4>
      {% endif %}

      {% if settings.footer-sharing-intro %}
        <p>{{ settings.footer-sharing-intro }}</p>
      {% endif %}

      {% if settings.footer-show-pin %}
        {% assign pinterestImage = '' %}

        {% if template contains 'product' %}
          {% assign pinterestImage = product.featured_image | product_img_url: 'grande' %}
        {% elsif template contains 'article' %}
          {% assign img_tag = '<' | append: 'img' %}
          {% if article.content contains img_tag %}
            {% assign src = article.content | split: 'src="' %}
            {% assign src = src[1] | split: '"' | first %}
            {% assign pinterestImage = src %}
          {% endif %}
        {% else %}
          {% if settings.use-logo and pinterestImage == '' %}
            {% assign pinterestImage = 'logo.png' | asset_url %}
          {% endif %}
        {% endif %}
      {% endif %}

      {% if settings.footer-show-tweet %}
        <a class="footer-share-icon footer-tweet" href="//twitter.com/share?url={{ shop.url }}" target="_blank">{{ 'general.social.twitter' | t }}</a>
      {% endif %}
      {% if settings.footer-show-like %}
        <a class="footer-share-icon footer-like" href="//www.facebook.com/sharer.php?u={{ shop.url }}" target="_blank">{{ 'general.social.facebook' | t }}</a>
     
      {% endif %}
      {% if settings.footer-show-pin %}
        <a class="footer-share-icon footer-pin" href="//pinterest.com/pin/create/button/?url={{ shop.url }}&amp;media={{ pinterestImage }}&amp;description={{ shop.name }}" target="_blank">{{ 'general.social.pinterest' | t }}</a>
      {% endif %}
    
      {% if settings.footer-show-plus %}
        <a class="footer-share-icon footer-plus" href="//plus.google.com/share?url={{ shop.url }}" target="_blank">{{ 'general.social.google' | t }}</a>
      {% endif %}
      {% if settings.footer-show-fancy %}
        <a class="footer-share-icon footer-fancy" href="//www.thefancy.com/fancyit?ItemURL={{ shop.url }}&amp;Title={{ shop.name }}" target="_blank">{{ 'general.social.fancy' | t }}</a>
      {% endif %}
    </div>
    {% endif %}

    <div role="contentinfo" class="copyright footer-module">
      {% capture year %}{{ "now" | date: "%Y" }}{% endcapture %}
      <p>{{ 'general.copyright_text_html' | t: year: year }}<br>
       
    </div>

    {% if settings.footer-show-payment-options %}
    <div class="payment-options footer-module">
      {% if settings.show-diners-club %}      <span class="diners-club">&#58131;</span>       {% endif %}
      {% if settings.show-maestro %}          <span class="maestro">&#58130;</span>           {% endif %}
      {% if settings.show-interac %}          <span class="interac">&#58119;</span>           {% endif %}
      {% if settings.show-visa %}             <span class="visa">&#58113;</span>              {% endif %}
      {% if settings.show-mastercard %}       <span class="mastercard">&#58114;</span>        {% endif %}
      {% if settings.show-discover %}         <span class="discover">&#58117;</span>          {% endif %}
      {% if settings.show-dk %}               <span class="dk">&#58128;</span>                {% endif %}
      {% if settings.show-american-express %} <span class="american-express">&#58115;</span>  {% endif %}
      {% if settings.show-google-wallet %}    <span class="google-wallet">&#58121;</span>     {% endif %}
      {% if settings.show-paypal %}           <span class="paypal">&#58116;</span>            {% endif %}
      {% if settings.show-jcb %}              <span class="jcb">&#58129;</span>               {% endif %}
      {% if settings.show-cirrus %}           <span class="cirrus">&#58120;</span>            {% endif %}
      {% if settings.show-stripe %}           <span class="stripe">&#58118;</span>            {% endif %}
      {% if settings.show-bitcoins %}         <span class="bitcoin">&#58132;</span>           {% endif %}
    </div>
    {% endif %}
    
   <!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_horizontal_follow_toolbox"></div>

  </footer>

</div>
