{% assign logos = "as-seen-on-1|as-seen-on-2|as-seen-on-3|as-seen-on-4|as-seen-on-5|as-seen-on-6|as-seen-on-7|as-seen-on-8|as-seen-on-9|as-seen-on-10|as-seen-on-11|as-seen-on-12" | split: "|" %}

{% assign logoCount = 0 %}
{% for logo in logos %}
  {% capture enabled %}home-show-{{logo}}{% endcapture %}
  {% if settings[enabled] %}
    {% assign logoCount = logoCount | plus: 1 %}
  {% endif %}
{% endfor %}

<div class="home-module-wrapper {{ settings.home-as-seen-on-style }} rows-of-{{settings.home-as-seen-on-per-row}}">
  <div class="home-module {% if logoCount > 0 %}home-as-seen-on-list{% endif %} {{ logoCount }}">

    {% if logoCount > 0 %}
      {% if settings.home-as-seen-on-heading.size > 0 %}
        <h3 class="section-title">{{ settings.home-as-seen-on-heading }}</h3>
      {% endif %}
    {% else %}
      <h3 class="section-title">{{ 'onboarding.as_seen_on_section.section_title' | t }}</h3>
      <div class="home-helper">{{ 'onboarding.as_seen_on_section.text_html' | t: theme_settings_link: themeSettingsLink }}</div>
    {% endif %}

    {% for logo in logos %}

      {% capture enabled %}home-show-{{logo}}{% endcapture %}
      {% capture url %}home-{{logo}}-url{% endcapture %}

      {% if settings[enabled] %}
      <div class="home-as-seen-on clearfix">

        {% if settings[url] != blank %}<a href="{{ settings[url] }}">{% endif %}
        <img alt="" src="{{ logo | prepend: 'home-' | append: '.png' | asset_url }}">
        {% if settings[url] != blank %}</a>{% endif %}

      </div>
      {% endif %}

    {% endfor %}

  </div>
</div>
