<div class="home-module-wrapper {% if settings.background-color-grey %} background-grey {% endif %}{{ settings.home-in-line-style }}">
  <div class="home-module home-in-line-features">
    {% if settings.home-in-line-heading.size > 0 %}
      <h3 class="section-title">{{ settings.home-in-line-heading }}</h3>
    {% else %}
      {% unless settings.home-show-in-line-1 or settings.home-show-in-line-2 or settings.home-show-in-line-3 or settings.home-show-in-line-4 or settings.home-show-in-line-5 or settings.home-show-in-line-6 %}
        <h3 class="section-title">{{ 'onboarding.inline_features_section.section_title' | t }}</h3>
      {% endunless %}
    {% endif %}

    {% if settings.home-show-in-line-1 %}
    <div class="home-in-line-feature clearfix">

      {% if settings.home-show-in-line-images %}
        <img alt="{{ settings.home-in-line-1-title | strip_html | escape }}" src="{{ 'home-in-line-image-1.png' | asset_url }}">
      {% endif %}

      <div class="home-in-line-text">
        {% if settings.home-in-line-1-title.size > 0 %}
          <h3>{{ settings.home-in-line-1-title }}</h3>
        {% endif %}

        {% if settings.home-in-line-1-text.size > 0 %}
        <div class="rte">
          {{ settings.home-in-line-1-text }}
        </div>
        {% endif %}

        {% if settings.home-in-line-1-url.size > 0 and settings.home-in-line-1-cta.size > 0 %}
        <p class="home-in-line-cta"><a href="{{ settings.home-in-line-1-url }}">{{ settings.home-in-line-1-cta }}</a></p>
        {% endif %}
      </div>
    </div>
    {% endif %}

    {% if settings.home-show-in-line-2 %}
    <div class="home-in-line-feature clearfix">

      {% if settings.home-show-in-line-images %}
        <img alt="{{ settings.home-in-line-2-title | strip_html | escape }}" src="{{ 'home-in-line-image-2.png' | asset_url }}">
      {% endif %}

      <div class="home-in-line-text">
        {% if settings.home-in-line-2-title.size > 0 %}
          <h3>{{ settings.home-in-line-2-title }}</h3>
        {% endif %}

        {% if settings.home-in-line-2-text.size > 0 %}
        <div class="rte">
          {{ settings.home-in-line-2-text }}
        </div>
        {% endif %}

        {% if settings.home-in-line-2-url.size > 0 and settings.home-in-line-2-cta.size > 0 %}
        <p class="home-in-line-cta"><a href="{{ settings.home-in-line-2-url }}">{{ settings.home-in-line-2-cta }}</a></p>
        {% endif %}
      </div>
    </div>
    {% endif %}

    {% if settings.home-show-in-line-3 %}
    <div class="home-in-line-feature clearfix">

      {% if settings.home-show-in-line-images %}
        <img alt="{{ settings.home-in-line-3-title | strip_html | escape }}" src="{{ 'home-in-line-image-3.png' | asset_url }}">
      {% endif %}

      <div class="home-in-line-text">
        {% if settings.home-in-line-3-title.size > 0 %}
          <h3>{{ settings.home-in-line-3-title }}</h3>
        {% endif %}

        {% if settings.home-in-line-3-text.size > 0 %}
        <div class="rte">
          {{ settings.home-in-line-3-text }}
        </div>
        {% endif %}

        {% if settings.home-in-line-3-url.size > 0 and settings.home-in-line-3-cta.size > 0 %}
        <p class="home-in-line-cta"><a href="{{ settings.home-in-line-3-url }}">{{ settings.home-in-line-3-cta }}</a></p>
        {% endif %}
      </div>
    </div>
    {% endif %}

    {% if settings.home-show-in-line-4 %}
    <div class="home-in-line-feature clearfix">

      {% if settings.home-show-in-line-images %}
        <img alt="{{ settings.home-in-line-4-title | strip_html | escape }}" src="{{ 'home-in-line-image-4.png' | asset_url }}">
      {% endif %}

      <div class="home-in-line-text">
        {% if settings.home-in-line-4-title.size > 0 %}
          <h3>{{ settings.home-in-line-4-title }}</h3>
        {% endif %}

        {% if settings.home-in-line-4-text.size > 0 %}
        <div class="rte">
          {{ settings.home-in-line-4-text }}
        </div>
        {% endif %}

        {% if settings.home-in-line-4-url.size > 0 and settings.home-in-line-4-cta.size > 0 %}
        <p class="home-in-line-cta"><a href="{{ settings.home-in-line-4-url }}">{{ settings.home-in-line-4-cta }}</a></p>
        {% endif %}
      </div>
    </div>
    {% endif %}

    {% if settings.home-show-in-line-5 %}
    <div class="home-in-line-feature clearfix">

      {% if settings.home-show-in-line-images %}
        <img alt="{{ settings.home-in-line-5-title | strip_html | escape }}" src="{{ 'home-in-line-image-5.png' | asset_url }}">
      {% endif %}

      <div class="home-in-line-text">
        {% if settings.home-in-line-5-title.size > 0 %}
          <h3>{{ settings.home-in-line-5-title }}</h3>
        {% endif %}

        {% if settings.home-in-line-5-text.size > 0 %}
        <div class="rte">
          {{ settings.home-in-line-5-text }}
        </div>
        {% endif %}

        {% if settings.home-in-line-5-url.size > 0 and settings.home-in-line-5-cta.size > 0 %}
        <p class="home-in-line-cta"><a href="{{ settings.home-in-line-5-url }}">{{ settings.home-in-line-5-cta }}</a></p>
        {% endif %}
      </div>
    </div>
    {% endif %}

    {% if settings.home-show-in-line-6 %}
    <div class="home-in-line-feature clearfix">

      {% if settings.home-show-in-line-images %}
        <img alt="{{ settings.home-in-line-6-title | strip_html | escape }}" src="{{ 'home-in-line-image-6.png' | asset_url }}">
      {% endif %}

      <div class="home-in-line-text">
        {% if settings.home-in-line-6-title.size > 0 %}
          <h3>{{ settings.home-in-line-6-title }}</h3>
        {% endif %}

        {% if settings.home-in-line-6-text.size > 0 %}
        <div class="rte">
          {{ settings.home-in-line-6-text }}
        </div>
        {% endif %}

        {% if settings.home-in-line-6-url.size > 0 and settings.home-in-line-6-cta.size > 0 %}
        <p class="home-in-line-cta"><a href="{{ settings.home-in-line-6-url }}">{{ settings.home-in-line-6-cta }}</a></p>
        {% endif %}
      </div>
    </div>
    {% endif %}

    {% unless settings.home-show-in-line-1 or settings.home-show-in-line-2 or settings.home-show-in-line-3 or settings.home-show-in-line-4 or settings.home-show-in-line-5 or settings.home-show-in-line-6 %}
    <div class="home-in-line-feature clearfix">

      <img class="home-helper-image" alt="" src="{{ 'no-image.svg' | asset_url }}" onerror="this.src='{{'no-image.png' | asset_url}}';this.onerror=null;">

      <div class="home-in-line-text">
        <h3>{{ 'onboarding.inline_features_section.first_feature_title' | t }}</h3>

        <div class="rte">
          {{ 'onboarding.inline_features_section.text' | t }}
        </div>
      </div>
    </div>

    <div class="home-in-line-feature clearfix">

      <img class="home-helper-image" alt="" src="{{ 'no-image.svg' | asset_url }}" onerror="this.src='{{'no-image.png' | asset_url}}';this.onerror=null;">

      <div class="home-in-line-text">
        <h3>{{ 'onboarding.inline_features_section.second_feature_title' | t }}</h3>

        <div class="rte">
          {{ 'onboarding.inline_features_section.text' | t }}
        </div>
      </div>
    </div>

    <div class="home-in-line-feature clearfix">

      <img class="home-helper-image" alt="" src="{{ 'no-image.svg' | asset_url }}" onerror="this.src='{{'no-image.png' | asset_url}}';this.onerror=null;">

      <div class="home-in-line-text">
        <h3>{{ 'onboarding.inline_features_section.third_feature_title' | t }}</h3>

        <div class="rte">
          {{ 'onboarding.inline_features_section.text' | t }}
        </div>
      </div>
    </div>
    {% endunless %}
  </div>
</div>
