{% capture featuredCollections %}{{ settings.home-featured-collection-1 }}|{{ settings.home-featured-collection-2 }}|{{ settings.home-featured-collection-3 }}{% endcapture %}
{% assign featuredCollections = featuredCollections | split: '|' %}

{% if featuredCollections.size > 0 %}
<div class="home-module-wrapper {{ settings.home-featured-collections-style }} row-of-{{ featuredCollections.size }}">
  <div class="home-module home-featured-collections">

    {% if settings.home-featured-collections-title != blank %}
      <h3 class="section-title">{{ settings.home-featured-collections-title }}</h3>
    {% endif %}

    <div class="home-featured-collection-list">

      {% for collection in featuredCollections %}

        {% assign featuredCollection = collections[collection] %}

        <article class="home-featured-collection">
          <a href="{{ featuredCollection.url }}">
          {% if featuredCollection.image %}
            <img alt="{{ featuredCollection.image.alt | escape }}" src="{{ featuredCollection | img_url: 'grande' }}">
          {% else %}
            <img alt="{{ featuredCollection.title | escape }}" src="{{ featuredCollection.products.first | img_url: 'grande' }}">
          {% endif %}
          </a>
          <h4 class="home-featured-collection-title"><a href="{{ featuredCollection.url }}">{{ featuredCollection.title }}</a></h4>
          {% if settings.home-featured-collections-count %}<span class="home-featured-collection-count">{{ featuredCollection.products_count }} {{ 'collections.collection.product_count' | t: count: featuredCollection.products_count }}</span>{% endif %}
        </article>

      {% endfor %}

    </div>

  </div>
</div>
{% endif %}