<div class="home-module-wrapper {{ settings.home-left-right-style }} {% if settings.home-left-right-borders %}borders{% endif %}">
  <div class="home-module home-left-right-features">
    {% if settings.home-left-right-heading.size > 0 %}
      <h3 class="section-title">{{ settings.home-left-right-heading }}</h3>
    {% else %}
      {% unless settings.home-show-left-right-1 or settings.home-show-left-right-2 or settings.home-show-left-right-3 %}
        <h3 class="section-title">{{ 'onboarding.alternating_features_section.section_title' | t }}</h3>
      {% endunless %}
    {% endif %}

    <div class="fix-for-first-child">

    {% if settings.home-show-left-right-1 %}
    <div class="home-left-right-feature clearfix media-aligned-{{settings.home-left-right-1-media-alignment}}">

      {% if settings.home-left-right-1-media-alignment == 'left' %}
        <div class="home-left-right-media">
          {% if settings.home-left-right-1-media == 'image' %}
            <img alt="{{ settings.home-left-right-1-title | strip_html | escape }}" src="{{ 'home-left-right-image-1.png' | asset_url }}">
          {% elsif settings.home-left-right-1-media == 'video' %}
            <div class="home-left-right-video">{{ settings.home-left-right-1-video }}</div>
          {% endif %}
        </div>
      {% endif %}

      <div class="home-left-right-text">
        {% if settings.home-left-right-1-title.size > 0 %}
          <h3>{{ settings.home-left-right-1-title }}</h3>
        {% endif %}
        <div class="rte">
          {{ settings.home-left-right-1-text }}
          {% if settings.home-left-right-1-url.size > 0 and settings.home-left-right-1-cta.size > 0 %}
                    
          <p class="home-left-right-cta"><a href="{{ settings.home-left-right-1-url }}">{{ settings.home-left-right-1-cta }}</a></p>
          {% endif %}
        </div>
      </div>

      {% if settings.home-left-right-1-media-alignment == 'right' %}
        <div class="home-left-right-media">
          {% if settings.home-left-right-1-media == 'image' %}
            <img alt="{{ settings.home-left-right-1-title | strip_html | escape }}" src="{{ 'home-left-right-image-1.png' | asset_url }}">
          {% elsif settings.home-left-right-1-media == 'video' %}
            <div class="home-left-right-video">{{ settings.home-left-right-1-video }}</div>
          {% endif %}
        </div>
      {% endif %}
    </div>
    {% endif %}

    {% if settings.home-show-left-right-2 %}
    <div class="home-left-right-feature clearfix media-aligned-{{settings.home-left-right-2-media-alignment}}">

      {% if settings.home-left-right-2-media-alignment == 'left' %}
        <div class="home-left-right-media">
          {% if settings.home-left-right-2-media == 'image' %}
            <img alt="{{ settings.home-left-right-2-title | strip_html | escape }}" src="{{ 'home-left-right-image-2.png' | asset_url }}">
          {% elsif settings.home-left-right-2-media == 'video' %}
            <div class="home-left-right-video">{{ settings.home-left-right-2-video }}</div>
          {% endif %}
        </div>
      {% endif %}

      <div class="home-left-right-text">
        {% if settings.home-left-right-2-title.size > 0 %}
          <h3>{{ settings.home-left-right-2-title }}</h3>
        {% endif %}
        <div class="rte">
          {{ settings.home-left-right-2-text }}

          {% if settings.home-left-right-2-url.size > 0 and settings.home-left-right-2-cta.size > 0 %}
          <p class="home-left-right-cta"><a href="{{ settings.home-left-right-2-url }}">{{ settings.home-left-right-2-cta }}</a></p>
          {% endif %}
        </div>
      </div>

      {% if settings.home-left-right-2-media-alignment == 'right' %}
        <div class="home-left-right-media">
          {% if settings.home-left-right-2-media == 'image' %}
            <img alt="{{ settings.home-left-right-2-title | strip_html | escape }}" src="{{ 'home-left-right-image-2.png' | asset_url }}">
          {% elsif settings.home-left-right-2-media == 'video' %}
            <div class="home-left-right-video">{{ settings.home-left-right-2-video }}</div>
          {% endif %}
        </div>
      {% endif %}
    </div>
    {% endif %}

    {% if settings.home-show-left-right-3 %}
    <div class="home-left-right-feature clearfix media-aligned-{{settings.home-left-right-3-media-alignment}}">

      {% if settings.home-left-right-3-media-alignment == 'left' %}
        <div class="home-left-right-media">
          {% if settings.home-left-right-3-media == 'image' %}
            <img alt="{{ settings.home-left-right-3-title | strip_html | escape }}" src="{{ 'home-left-right-image-3.png' | asset_url }}">
          {% elsif settings.home-left-right-3-media == 'video' %}
            <div class="home-left-right-video">{{ settings.home-left-right-3-video }}</div>
          {% endif %}
        </div>
      {% endif %}

      <div class="home-left-right-text">
        {% if settings.home-left-right-3-title.size > 0 %}
          <h3>{{ settings.home-left-right-3-title }}</h3>
        {% endif %}
        <div class="rte">
          {{ settings.home-left-right-3-text }}

          {% if settings.home-left-right-3-url.size > 0 and settings.home-left-right-3-cta.size > 0 %}
          <p class="home-left-right-cta"><a href="{{ settings.home-left-right-3-url }}">{{ settings.home-left-right-3-cta }}</a></p>
          {% endif %}
        </div>
      </div>

      {% if settings.home-left-right-3-media-alignment == 'right' %}
        <div class="home-left-right-media">
          {% if settings.home-left-right-3-media == 'image' %}
            <img alt="{{ settings.home-left-right-3-title | strip_html | escape }}" src="{{ 'home-left-right-image-3.png' | asset_url }}">
          {% elsif settings.home-left-right-3-media == 'video' %}
            <div class="home-left-right-video">{{ settings.home-left-right-3-video }}</div>
          {% endif %}
        </div>
      {% endif %}
    </div>
    {% endif %}

    {% unless settings.home-show-left-right-1 or settings.home-show-left-right-2 or settings.home-show-left-right-3 %}
      <div class="home-left-right-feature clearfix media-aligned-right">

        <div class="home-left-right-text">
          <h3>{{ 'onboarding.alternating_features_section.feature_title' | t }}</h3>
          <div class="rte">
            {{ 'onboarding.alternating_features_section.text' | t }}
            <p class="home-left-right-cta"><a href="{{ shop.url }}/admin/themes">{{ 'onboarding.theme_settings_link' | t }}</a></p>
          </div>
        </div>

        <div class="home-left-right-media">
          <img class="home-helper-image" alt="" src="{{ 'no-image.svg' | asset_url }}" onerror="this.src='{{'no-image.png' | asset_url}}';this.onerror=null;">
        </div>

      </div>

      <div class="home-left-right-feature clearfix media-aligned-left">

        <div class="home-left-right-media">
          <img class="home-helper-image" alt="" src="{{ 'no-image.svg' | asset_url }}" onerror="this.src='{{'no-image.png' | asset_url}}';this.onerror=null;">
        </div>

        <div class="home-left-right-text">
          <h3>{{ 'onboarding.alternating_features_section.feature_title' | t }}</h3>
          <div class="rte">
            {{ 'onboarding.alternating_features_section.text' | t }}
            <p class="home-left-right-cta"><a href="{{ shop.url }}/admin/themes">{{ 'onboarding.theme_settings_link' | t }}</a></p>
          </div>
        </div>

      </div>
    {% endunless %}

    </div>
  </div>
</div>
