{% assign testimonialCount = 0 %}
{% if settings.home-show-testimonial-1 %}
  {% assign testimonialCount = testimonialCount | plus: 1 %}
{% endif %}
{% if settings.home-show-testimonial-2 %}
  {% assign testimonialCount = testimonialCount | plus: 1 %}
{% endif %}
{% if settings.home-show-testimonial-3 %}
  {% assign testimonialCount = testimonialCount | plus: 1 %}
{% endif %}
{% if settings.home-show-testimonial-4 %}
  {% assign testimonialCount = testimonialCount | plus: 1 %}
{% endif %}
{% if settings.home-show-testimonial-5 %}
  {% assign testimonialCount = testimonialCount | plus: 1 %}
{% endif %}
{% if settings.home-show-testimonial-6 %}
  {% assign testimonialCount = testimonialCount | plus: 1 %}
{% endif %}

<div class="home-module-wrapper {{ settings.home-testimonial-style }} grid-of-{{testimonialCount}}">
  <div class="home-module home-testimonials">
    {% if settings.home-testimonial-heading.size > 0 %}
      <h3 class="section-title">{{ settings.home-testimonial-heading }}</h3>
    {% else %}
      {% if testimonialCount == 0 %}
        <h3 class="section-title">{{ 'onboarding.testimonials_section.section_title' | t }}</h3>
      {% endif %}
    {% endif %}

    {% assign testimonials = "testimonial-1|testimonial-2|testimonial-3|testimonial-4|testimonial-5|testimonial-6" | split: "|" %}

    {% for testimonial in testimonials %}

      {% capture enabled %}home-show-{{testimonial}}{% endcapture %}
      {% capture avatar %}home-{{testimonial}}-use-avatar{% endcapture %}
      {% capture quote %}home-{{testimonial}}-quote{% endcapture %}
      {% capture source %}home-{{testimonial}}-source{% endcapture %}
      {% capture url %}home-{{testimonial}}-url{% endcapture %}

      {% if settings[enabled] %}
      <div class="home-testimonial {% if settings[avatar] %}has-avatar{% endif %}">

        {% if settings[avatar] %}
          <img class="home-testimonial-avatar" alt="{{ settings[source] | strip_html | escape }}" src="{{ testimonial | prepend: 'home-' | append: '-avatar.jpg' | asset_url}}">
        {% endif %}

        <blockquote class="home-testimonial-quote">
          {{ settings[quote] }}
        </blockquote>

        {% if settings[source] != blank %}
          <p class="home-testimonial-quote-source">– {{ settings[source] }}</p>
        {% endif %}
      </div>
      {% endif %}

    {% endfor %}

    {% if testimonialCount == 0 %}
      <div class="home-testimonial has-avatar">

        <img class="home-testimonial-avatar" alt="Fake person" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg">

        <blockquote class="home-testimonial-quote">
          &ldquo;{{ 'onboarding.testimonials_section.first_quote' | t }}&rdquo;
        </blockquote>

        <p class="home-testimonial-quote-source">– {{ 'onboarding.testimonials_section.first_quote_speaker_name' | t }}</p>
      </div>

      <div class="home-testimonial has-avatar">

        <img class="home-testimonial-avatar" alt="Fake person" src="https://s3.amazonaws.com/uifaces/faces/twitter/liang/128.jpg">

        <blockquote class="home-testimonial-quote">
          &ldquo;{{ 'onboarding.testimonials_section.second_quote' | t }}&rdquo;
        </blockquote>

        <p class="home-testimonial-quote-source">– {{ 'onboarding.testimonials_section.second_quote_speaker_name' | t }}</p>
      </div>
    {% endif %}
  </div>
</div>
