<div class="home-slideshow-wrapper {{ settings.slideshow-layout }} {{ settings.slideshow-transition }}">
  <div class="home-slideshow-loader"></div>

  {% assign slideCount = 0 %}
  {% if settings.show-slide-1 %}{% assign slideCount = slideCount | plus: 1 %}{% endif %}
  {% if settings.show-slide-2 %}{% assign slideCount = slideCount | plus: 1 %}{% endif %}
  {% if settings.show-slide-3 %}{% assign slideCount = slideCount | plus: 1 %}{% endif %}
  {% if settings.show-slide-4 %}{% assign slideCount = slideCount | plus: 1 %}{% endif %}
  {% if settings.show-slide-5 %}{% assign slideCount = slideCount | plus: 1 %}{% endif %}

  {% if settings.show-slideshow-navigation and slideCount > 1 %}
    <div class="home-slideshow-navigation home-slideshow-previous icon">&#57352;</div>
    <div class="home-slideshow-navigation home-slideshow-next icon">&#57353;</div>
  {% endif %}

  {% if settings.show-slideshow-pagination and slideCount > 1 %}
  <div class="home-slideshow-pagination">
    {% if settings.show-slide-1 %}<span data-slide-id="home-slide-1" class="pagination-slide-1"><span></span></span>{% endif %}
    {% if settings.show-slide-2 %}<span data-slide-id="home-slide-2" class="pagination-slide-2"><span></span></span>{% endif %}
    {% if settings.show-slide-3 %}<span data-slide-id="home-slide-3" class="pagination-slide-3"><span></span></span>{% endif %}
    {% if settings.show-slide-4 %}<span data-slide-id="home-slide-4" class="pagination-slide-4"><span></span></span>{% endif %}
    {% if settings.show-slide-5 %}<span data-slide-id="home-slide-5" class="pagination-slide-5"><span></span></span>{% endif %}
  </div>
  {% endif %}

  <div class="home-slideshow">

    {% if settings.show-slide-1 %}
      <div id="home-slide-1" class="home-slide home-slide-1 text-aligned-{{settings.slide-1-text-alignment}}" {% if settings.slideshow-layout == 'opening-screen' %}style="background-image: url({{ 'slide-1-image.jpg' | asset_url }});"{% endif %}>

        
      
        {% if settings.slide-1-cta.size == 0 and settings.slide-1-url.size > 0 %}<a href="{{settings.slide-1-url}}">{% endif %}
        <img class="slide-image" alt="{{ settings.slide-1-title | strip_html | escape }}" src="{{ 'slide-1-image.jpg' | asset_url }}">
        {% if settings.slide-1-cta.size == 0 and settings.slide-1-url.size > 0 %}</a>{% endif %}
         
        
        {% if settings.slide-1-cta.size == 0 and settings.slide-1-url.size > 0 %}<a href="{{settings.slide-1-url}}">{% endif %}
          <img class="slide-image" alt="{{ settings.slide-1-title | strip_html | escape }}" src="{{ 'slide-1-image-m.jpg' | asset_url }}">
        {% if settings.slide-1-cta.size == 0 and settings.slide-1-url.size > 0 %}</a>{% endif %}
        
        

        {% if settings.slide-1-title.size > 0 or settings.slide-1-subtitle.size > 0 or settings.slide-1-small-text.size > 0 or settings.slide-1-cta.size > 0 %}
          {% if settings.slide-1-cta.size == 0 and settings.slide-1-url.size > 0 %}<a href="{{settings.slide-1-url}}">{% endif %}
          <div class="slide-text {% if settings.slide-1-shadows %}slide-text-use-shadows{% endif %}">
            {% if settings.slide-1-title.size > 0 %}
              <h2>{{ settings.slide-1-title }}</h2>
            {% endif %}

            {% if settings.slide-1-subtitle.size > 0 %}
              <h3>{{ settings.slide-1-subtitle }}</h3>
            {% endif %}

            {% if settings.slide-1-small-text.size > 0 %}
              <p>{{ settings.slide-1-small-text }}</p>
            {% endif %}

            {% if settings.slide-1-cta.size > 0 and settings.slide-1-url.size > 0 %}
              <a class="button" href="{{ settings.slide-1-url }}">{{ settings.slide-1-cta }}</a>
            {% endif %}
          </div>
          {% if settings.slide-1-cta.size == 0 and settings.slide-1-url.size > 0 %}</a>{% endif %}
        {% endif %}

      </div>
    {% endif %}

    {% if settings.show-slide-2 %}
      <div id="home-slide-2" class="home-slide home-slide-2 text-aligned-{{settings.slide-2-text-alignment}}" {% if settings.slideshow-layout == 'opening-screen' %}style="background-image: url({{ 'slide-2-image.jpg' | asset_url }});"{% endif %}>

        {% if settings.slide-2-cta.size == 0 and settings.slide-2-url.size > 0 %}<a href="{{settings.slide-2-url}}">{% endif %}
          <img class="slide-image" alt="{{ settings.slide-2-title | strip_html | escape }}" src="{{ 'slide-2-image.jpg' | asset_url }}">
        {% if settings.slide-2-cta.size == 0 and settings.slide-2-url.size > 0 %}</a>{% endif %}
        
        {% if settings.slide-2-cta.size == 0 and settings.slide-2-url.size > 0 %}<a href="{{settings.slide-2-url}}">{% endif %}
          <img class="slide-image" alt="{{ settings.slide-2-title | strip_html | escape }}" src="{{ 'slide-2-image-m.jpg' | asset_url }}">
        {% if settings.slide-2-cta.size == 0 and settings.slide-2-url.size > 0 %}</a>{% endif %}

        {% if settings.slide-2-title.size > 0 or settings.slide-2-subtitle.size > 0 or settings.slide-2-small-text.size > 0 or settings.slide-2-cta.size > 0 %}
          {% if settings.slide-2-cta.size == 0 and settings.slide-2-url.size > 0 %}<a href="{{settings.slide-2-url}}">{% endif %}
          <div class="slide-text {% if settings.slide-2-shadows %}slide-text-use-shadows{% endif %}">
            {% if settings.slide-2-title.size > 0 %}
              <h2>{{ settings.slide-2-title }}</h2>
            {% endif %}

            {% if settings.slide-2-subtitle.size > 0 %}
              <h3>{{ settings.slide-2-subtitle }}</h3>
            {% endif %}

            {% if settings.slide-2-small-text.size > 0 %}
              <p>{{ settings.slide-2-small-text }}</p>
            {% endif %}

            {% if settings.slide-2-cta.size > 0 and settings.slide-2-url.size > 0 %}
              <a class="button" href="{{ settings.slide-2-url }}">{{ settings.slide-2-cta }}</a>
            {% endif %}
          </div>
          {% if settings.slide-2-cta.size == 0 and settings.slide-2-url.size > 0 %}</a>{% endif %}
        {% endif %}

      </div>
    {% endif %}

    {% if settings.show-slide-3 %}
      <div id="home-slide-3" class="home-slide home-slide-3 text-aligned-{{settings.slide-3-text-alignment}}" {% if settings.slideshow-layout == 'opening-screen' %}style="background-image: url({{ 'slide-3-image.jpg' | asset_url }});"{% endif %}>

        {% if settings.slide-3-cta.size == 0 and settings.slide-3-url.size > 0 %}<a href="{{settings.slide-3-url}}">{% endif %}
          <img class="slide-image" alt="{{ settings.slide-3-title | strip_html | escape }}" src="{{ 'slide-3-image.jpg' | asset_url }}">
        {% if settings.slide-3-cta.size == 0 and settings.slide-3-url.size > 0 %}</a>{% endif %}
        
        {% if settings.slide-3-cta.size == 0 and settings.slide-3-url.size > 0 %}<a href="{{settings.slide-3-url}}">{% endif %}
          <img class="slide-image" alt="{{ settings.slide-3-title | strip_html | escape }}" src="{{ 'slide-3-image-m.jpg' | asset_url }}">
        {% if settings.slide-3-cta.size == 0 and settings.slide-3-url.size > 0 %}</a>{% endif %}

        {% if settings.slide-3-title.size > 0 or settings.slide-3-subtitle.size > 0 or settings.slide-3-small-text.size > 0 or settings.slide-3-cta.size > 0 %}
          {% if settings.slide-3-cta.size == 0 and settings.slide-3-url.size > 0 %}<a href="{{settings.slide-3-url}}">{% endif %}
          <div class="slide-text {% if settings.slide-3-shadows %}slide-text-use-shadows{% endif %}">
            {% if settings.slide-3-title.size > 0 %}
              <h2>{{ settings.slide-3-title }}</h2>
            {% endif %}

            {% if settings.slide-3-subtitle.size > 0 %}
              <h3>{{ settings.slide-3-subtitle }}</h3>
            {% endif %}

            {% if settings.slide-3-small-text.size > 0 %}
              <p>{{ settings.slide-3-small-text }}</p>
            {% endif %}

            {% if settings.slide-3-cta.size > 0 and settings.slide-3-url.size > 0 %}
              <a class="button" href="{{ settings.slide-3-url }}">{{ settings.slide-3-cta }}</a>
            {% endif %}
          </div>
          {% if settings.slide-3-cta.size == 0 and settings.slide-3-url.size > 0 %}</a>{% endif %}
        {% endif %}

      </div>
    {% endif %}

    {% if settings.show-slide-4 %}
      <div id="home-slide-4" class="home-slide home-slide-4 text-aligned-{{settings.slide-4-text-alignment}}" {% if settings.slideshow-layout == 'opening-screen' %}style="background-image: url({{ 'slide-4-image.jpg' | asset_url }});"{% endif %}>

        {% if settings.slide-4-cta.size == 0 and settings.slide-4-url.size > 0 %}<a href="{{settings.slide-4-url}}">{% endif %}
          <img class="slide-image" alt="{{ settings.slide-4-title | strip_html | escape }}" src="{{ 'slide-4-image.jpg' | asset_url }}">
        {% if settings.slide-4-cta.size == 0 and settings.slide-4-url.size > 0 %}</a>{% endif %}
        
          {% if settings.slide-4-cta.size == 0 and settings.slide-4-url.size > 0 %}<a href="{{settings.slide-4-url}}">{% endif %}
          <img class="slide-image" alt="{{ settings.slide-4-title | strip_html | escape }}" src="{{ 'slide-4-image-m.jpg' | asset_url }}">
        {% if settings.slide-4-cta.size == 0 and settings.slide-4-url.size > 0 %}</a>{% endif %}

        {% if settings.slide-4-title.size > 0 or settings.slide-4-subtitle.size > 0 or settings.slide-4-small-text.size > 0 or settings.slide-4-cta.size > 0 %}
          {% if settings.slide-4-cta.size == 0 and settings.slide-4-url.size > 0 %}<a href="{{settings.slide-4-url}}">{% endif %}
          <div class="slide-text {% if settings.slide-4-shadows %}slide-text-use-shadows{% endif %}">
            {% if settings.slide-4-title.size > 0 %}
              <h2>{{ settings.slide-4-title }}</h2>
            {% endif %}

            {% if settings.slide-4-subtitle.size > 0 %}
              <h3>{{ settings.slide-4-subtitle }}</h3>
            {% endif %}

            {% if settings.slide-4-small-text.size > 0 %}
              <p>{{ settings.slide-4-small-text }}</p>
            {% endif %}

            {% if settings.slide-4-cta.size > 0 and settings.slide-4-url.size > 0 %}
              <a class="button" href="{{ settings.slide-4-url }}">{{ settings.slide-4-cta }}</a>
            {% endif %}
          </div>
          {% if settings.slide-4-cta.size == 0 and settings.slide-4-url.size > 0 %}</a>{% endif %}
        {% endif %}

      </div>
    {% endif %}

    {% if settings.show-slide-5 %}
      <div id="home-slide-5" class="home-slide home-slide-5 text-aligned-{{settings.slide-5-text-alignment}}" {% if settings.slideshow-layout == 'opening-screen' %}style="background-image: url({{ 'slide-5-image.jpg' | asset_url }});"{% endif %}>

        {% if settings.slide-5-cta.size == 0 and settings.slide-5-url.size > 0 %}<a href="{{settings.slide-5-url}}">{% endif %}
          <img class="slide-image" alt="{{ settings.slide-5-title | strip_html | escape }}" src="{{ 'slide-5-image.jpg' | asset_url }}">
        {% if settings.slide-5-cta.size == 0 and settings.slide-5-url.size > 0 %}</a>{% endif %}
        
        {% if settings.slide-5-cta.size == 0 and settings.slide-5-url.size > 0 %}<a href="{{settings.slide-5-url}}">{% endif %}
          <img class="slide-image" alt="{{ settings.slide-5-title | strip_html | escape }}" src="{{ 'slide-5-image-m.jpg' | asset_url }}">
        {% if settings.slide-5-cta.size == 0 and settings.slide-5-url.size > 0 %}</a>{% endif %}

        {% if settings.slide-5-title.size > 0 or settings.slide-5-subtitle.size > 0 or settings.slide-5-small-text.size > 0 or settings.slide-5-cta.size > 0 %}
          {% if settings.slide-5-cta.size == 0 and settings.slide-5-url.size > 0 %}<a href="{{settings.slide-5-url}}">{% endif %}
          <div class="slide-text {% if settings.slide-5-shadows %}slide-text-use-shadows{% endif %}">
            {% if settings.slide-5-title.size > 0 %}
              <h2>{{ settings.slide-5-title }}</h2>
            {% endif %}

            {% if settings.slide-5-subtitle.size > 0 %}
              <h3>{{ settings.slide-5-subtitle }}</h3>
            {% endif %}

            {% if settings.slide-5-small-text.size > 0 %}
              <p>{{ settings.slide-5-small-text }}</p>
            {% endif %}

            {% if settings.slide-5-cta.size > 0 and settings.slide-5-url.size > 0 %}
              <a class="button" href="{{ settings.slide-5-url }}">{{ settings.slide-5-cta }}</a>
            {% endif %}
          </div>
          {% if settings.slide-5-cta.size == 0 and settings.slide-5-url.size > 0 %}</a>{% endif %}
        {% endif %}

      </div>
    {% endif %}
  </div>
</div>
