<div class="home-module-wrapper {{ settings.home-featured-products-style }} rows-of-{{settings.home-featured-products-per-row}}">
  <div class="home-module {% if settings.home-featured-products-collection.size > 0 %}home-featured-products{% endif %}">

    {% if settings.home-featured-products-collection.size > 0 %}
      {% if settings.home-featured-products-title.size > 0 %}
        <h3 class="section-title">{{ settings.home-featured-products-title }}</h3>
      {% endif %}
    {% else %}
      <h3 class="section-title">{{ 'onboarding.featured_products_section.section_title' | t }}</h3>
    {% endif %}

    {% if settings.home-featured-products-collection.size > 0 %}

      {% if shop.products_count > 0 and collections.[settings.home-featured-products-collection].products.size == 0 %}

        {% capture collection_screen_link %}
          <a href="{{ shop.url }}/admin/collections">{{ 'onboarding.collection_screen_link' | t }}</a>
        {% endcapture %}

        <div class="home-module-helper rte">
          <p>{{ 'onboarding.featured_products_section.no_products_in_collection_text_html' | t }}</p>
        </div>

      {% elsif shop.products_count == 0 %}

        {% capture new_product_link %}
          <a href="{{ shop.url }}/admin/products/new">{{ 'onboarding.new_product_link' | t }}</a>
        {% endcapture %}

        <div class="home-module-helper rte">
          <p>{{ 'onboarding.featured_products_section.no_products_in_shop_text_html' | t }}</p>
        </div>

      {% else %}

        <div class="collection-products">
          {% capture product_limit %}
            {{ settings.home-featured-products-num-rows | times: settings.home-featured-products-per-row }}
          {% endcapture %}
          {% for product in collections.[settings.home-featured-products-collection].products limit: product_limit %}{% include 'product-list-item' %}{% endfor %}

          {% if settings.home-featured-products-cta.size > 0 and settings.home-featured-products-url.size > 0 %}
            <div class="home-featured-products-cta">
              {% if settings.home-featured-products-cta != blank %}
                <a class="button secondary" href="{{ settings.home-featured-products-url }}">{{ settings.home-featured-products-cta }}</a>
              {% else %}
                <a class="button secondary" href="{{ settings.home-featured-products-url }}">{{ 'onboarding.featured_products_section.button_text' | t }}</a>
              {% endif %}
            </div>
          {% endif %}
        </div>

      {% endif %}

    {% else %}

      <div class="home-module-helper rte">
        <p>{{ 'onboarding.featured_products_section.no_collection_text_html' | t: theme_settings_link: themeSettingsLink }}</p>
      </div>

    {% endif %}
  </div>
</div>
