<div class="home-module-wrapper home-hero use-{{settings.home-hero-background-style}}-background">
  <div class="home-module">

    {% if settings.home-hero-title.size > 0 or settings.home-hero-subtitle.size > 0 or settings.home-hero-small-text.size > 0 or settings.home-hero-cta.size > 0 or settings.home-hero-url.size > 0 %}

      <div class="home-hero-text {% if settings.home-hero-shadows %}home-hero-text-use-shadows{% endif %}">
        {% if settings.home-hero-title.size > 0 %}
          <h2>{{ settings.home-hero-title }}</h2>
        {% endif %}

        {% if settings.home-hero-subtitle.size > 0 %}
          <h3>{{ settings.home-hero-subtitle }}</h3>
        {% endif %}

        {% if settings.home-hero-small-text.size > 0 %}
          <p>{{ settings.home-hero-small-text }}</p>
        {% endif %}

        {% if settings.home-hero-cta.size > 0 and settings.home-hero-url.size > 0 %}
          <a class="button" href="{{ settings.home-hero-url }}">{{ settings.home-hero-cta }}</a>
        {% endif %}
      </div>

      <div class="home-hero-image">
        <img alt="{{ settings.home-hero-title | strip_html | escape }}" src="{{ 'home-hero-product-image.png' | asset_url }}">
      </div>

    {% else %}

      <div class="home-hero-text">
        <h2>{{ 'onboarding.hero_section.section_title' | t }}</h2>

        <h3>{{ 'onboarding.hero_section.subtitle' | t }}</h3>

        <p>{{ 'onboarding.hero_section.text' | t }}</p>

        <a class="button" href="{{ shop.url }}/admin/themes">{{ 'onboarding.theme_settings_link' | t }}</a>
      </div>

      <div class="home-hero-image">
        <img class="home-helper-image" alt="Demo image" src="{{ 'no-image.svg' | asset_url }}" onerror="this.src='{{'no-image.png' | asset_url}}';this.onerror=null;">
      </div>

    {% endif %}

  </div>
</div>
