{% assign shareCountClass = '' %}

{% if template contains 'article' or template contains 'blog' %}

  {% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}

  {% unless settings.blog-display-share-count %}
    {% assign shareCountClass = 'no-count' %}
  {% endunless %}

{% elsif template contains 'product' %}

  {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}

  {% unless settings.product-display-share-count %}
    {% assign shareCountClass = 'no-count' %}
  {% endunless %}

{% endif %}

<div class="share-buttons {{ shareCountClass }}" data-permalink="{{ permalinkURL }}">

  <a target="_blank" href="//www.facebook.com/sharer.php?u={{ permalinkURL }}" class="share-facebook"><span>{{ 'general.social.facebook' | t }}</span> <span class="share-count"></span></a>

  <a target="_blank" href="//twitter.com/share?url={{ permalinkURL }}" class="share-twitter"><span>{{ 'general.social.twitter' | t }}</span> <span class="share-count"></span></a>

  {% if template contains 'product' %}

    <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media=http:{{ product.featured_image | product_img_url: 'original' }}&amp;description={{ product.title | escape }}" class="share-pinterest"><span>{{ 'general.social.pinterest' | t }}</span> <span class="share-count"></span></a>

    <a target="_blank" href="http://www.thefancy.com/fancyit?ItemURL={{ permalinkURL }}&amp;Title={{ product.title }}&amp;Category=Other&amp;ImageURL={{ product.featured_image | product_img_url: 'original' }}" class="share-fancy"><span>{{ 'general.social.fancy' | t }}</span></a>

  {% endif %}

  <a target="_blank" href="//plus.google.com/share?url={{ permalinkURL }}" class="share-google"><span></span> <span class="share-count">{{ 'general.social.google' | t }}</span></a>

</div>
