<h1 class="page-title">{{ 'customer.register.header' | t }}</h1>

{% form 'create_customer' %}

  {% if form.errors %}
    {{ form.errors | default_errors }}
  {% endif %}

  <div class="input-wrapper">
    <label for="customer[first_name]">{{ 'customer.addresses.first_name' | t }}</label>
    <input type="text" placeholder="" value="{{ form.first_name }}" name="customer[first_name]" class="{% if form.errors contains 'first_name' %}error{% endif %}">
  </div>

  <div class="input-wrapper">
    <label for="customer[last_name]">{{ 'customer.addresses.last_name' | t }}</label>
    <input type="text" placeholder="" value="{{ form.last_name }}" name="customer[last_name]" class="{% if form.errors contains 'last_name' %}error{% endif %}">
  </div>

  <div class="input-wrapper">
    <label for="customer[email]">{{ 'general.email' | t }}</label>
    <input type="text" placeholder="" value="{{ form.email }}" name="customer[email]" class="{% if form.errors contains 'email' %}error{% endif %}">
  </div>

  <div class="input-wrapper">
    <label for="customer[password]">{{ 'general.password' | t }}</label>
    <input type="password" placeholder="" value="" name="customer[password]" class="{% if form.errors contains 'password' %}error{% endif %}">
  </div>

  <div class="input-wrapper">
    <input type="submit" value="{{ 'customer.activate_account.submit' | t }}">
  </div>

{% endform %}