<h1 class="page-title">{{ 'customer.reset_password.header' | t }}</h1>

<div class="reset-password">
  {% form 'reset_customer_password' %}

    <p>{{ 'customer.reset_password.new_password_for' | t: email: customer.email }}</p>

    {% if form.errors %}
    <p class="error-message">{{ 'customer.reset_password.error' | t }}</p>
    {% endif %}

    <div class="input-wrapper">
      <label for="customer[password]">{{ 'general.password' | t }}</label>
      <input type="password" value="" name="customer[password]">
    </div>

    <div class="input-wrapper">
      <label for="customer[password_confirmation]">{{ 'customer.general.password_confirmation' | t }}</label>
      <input type="password" value="" name="customer[password_confirmation]">
    </div>

    <div class="input-wrapper">
      <input type="submit" value="{{ 'customer.reset_password.submit' | t }}">
    </div>

  {% endform %}
</div>